.container {
  height: 20rem;
  width: 16rem;
  background-color: var(--white);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.cardHeader {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    font-size: 1.2rem;
    color: var(--text-light);
    font-weight: 500;
  }
}

.cardContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;

  div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    h3 {
      font-size: 1.8rem;
      color: var(--text-dark);
      white-space: nowrap;
    }

    p {
      font-size: 1.2rem;
      color: var(--text-light);
    }
  }
}

.cardFooter {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 2rem 1rem;
  background-color: var(--primary);
  border-radius: 0 0 1rem 1rem;

  p {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--white);
  }
}
